.form {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.form input:focus,
.form input:active {
  outline: none;
  border-color: #8041cc;
}
