.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  min-width: 20rem;
  max-width: 100%;
}

.form input:focus,
.form input:active {
  outline: none;
  border-color: #8041cc;
}

.form__actions {
  text-align: right;
}
